.search-box{
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.input-radius {
    border-radius: 5px;
}

.button-margin {
    margin-bottom: 25px;
}

.card-total {
    width: 200px !important;
    margin-right: 10px;
}